/* GENERAL */

body{
  font-family:  roboto;
  background: #f4f6f9;
  margin:0;
  padding:20px;
  color:#333;
}

h1,h2{
  margin:0;
}

h2{
  margin-bottom:15px;
  font-size:20px;
}

/* HEADER */
 

/* ORDER INFO */

.order-info{
  margin-bottom:40px;
}

.order-details{
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

.detail-row{
  display:flex;
  justify-content: space-between;
  padding:8px 0;
  border-bottom:1px solid #eee;
}

.detail-row:last-child{
  border-bottom:none;
}

 

/* ACTION BUTTONS */

.action-row{
  display:flex;
  gap:12px;
  flex-wrap:wrap;
  margin-top:15px;
  justify-content: space-between;
}

.action-btn{
  padding:8px 12px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  background:#1e88e5;
  color:white;
  
  transition:0.2s;
}
.action-input{
 padding:8px 12px;
  border:none;
  border-radius:5px;
  cursor:pointer;
   border:1px solid black;
  color:black;
  outline: none;
  display: none;
}
.image-input{
 padding:8px 12px;
  border:none;
  border-radius:5px;
  cursor:pointer;
   border:1px solid black;
  color:black;
  outline: none;

}

.action-select{
 padding:8px 12px;
  border:none;
  border-radius:5px;
  cursor:pointer;
   border:1px solid black;
  color:black;
  outline: none;
}

.confirm-payment{
  background: green;
}


.action-btn:hover{
  opacity:0.85;
}

.action-input:focus{
  border: 1px solid blue;
}
.action-btn.uplift{
  background:#0c84a8;
}

.action-btn.success{
  background:#2ecc71;
}
.action-buttons{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
}

.action-btn.deliver{
  margin-top:15px;
  background:#2ecc71;
  
}

.action-btn.return{
     margin-top:15px;
     background-color: #f79514;
}

/* TIMELINE */

.order-timeline .timeline{
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

.timeline-step{
  display:flex;
  justify-content: space-between;
  padding:10px 0;
  border-bottom:1px solid #eee;
}

.timeline-step:last-child{
  border-bottom:none;
}

.step-label{
  font-weight:600;
}

.step-value{
  color:#1a1818;
}

.back-to-dashboard{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-decoration: none;
    color: #1e88e5;
    font-weight: 700;
}

.show{
  display: inline;
}
/* Upload label and input */
 